.parent {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 0;
    left: 0;
  }

  h1 {
    position: relative;
  }

  h5 {
    text-align: center;
  }