nav {
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #00BFA5 !important;
    font-weight: bold;
}

.btn {
    background-color: #229EA9;
    color: black;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(24, 114, 122);
    font-weight: bolder;
    color: white;
}

.App-intro {
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    margin: 0;
}
